Package: com.imokhles.NOSandX
Name: NOSandX
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Access filesystem from sandbox
Maintainer: iMokhles
Author: iMokhles
Section: System
Tag: role::hacker, purpose::extension
